.weather-app {
  /* width: 100%; */
  height: 720px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(205, 27, 27, 0.05);
  backdrop-filter: blur(2px);
  border-radius: 14px;
}

.heading {
  color: rgb(250, 194, 10) !important;
  font-weight: 600 !important;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3) !important;
}
/* .search{
      margin-top: 1%;
} */
.box {
  background: rgb(89, 128, 148);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  /* border: 3px solid black; */
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
