.weather-app {
  width: 110%;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  /* Transparent Glass Effect */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.weather-app h2 {
  color: black;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
.heading{
        color: rgb(250, 194, 10);
        
}
.col-md-3, 
.col-md-8 {
  /* Make sections transparent */
  background: rgba(255, 255, 255, 0.04);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

@media (max-width: 768px) {
  .col-md-3,
  .col-md-8 {
    width: 100%;
    margin-bottom: 20px;
  }
}
